.metadata-table {
  display: flex;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-size: 0.8rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10vw;
}

.container-item {
  margin-bottom: 1rem;
}

.rank {
  display: inline;
}

.link {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.comments {
  display: flex;
  flex-direction: row;
}

.points {
  margin: 0 1ch;
}
.time {
  margin: 0 1ch;
}
.comments {
  margin: 0 1ch;
}

.by {
  margin: 0 1ch;
}

.title {
  display: inline;
  font-size: 1.5rem;
  color: bisque;
}

.y-link {
  display: inline;
  margin: 0 1rem;
}

.y-link:hover {
  cursor: pointer;
}
