.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10vw;
}

.item-header {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
